# Answer
- 당신은 주어진 트윗이실제 재난에 관한 것이라면 1을 예측하고, 그렇지 않다면 0을 예측하세요.
- https://www.kaggle.com/code/philculliton/nlp-getting-started-tutorial
- https://www.kaggle.com/code/gunesevitan/nlp-with-disaster-tweets-eda-cleaning-and-bert

In [14]:
import pandas as pd

df = pd.read_csv('./tweets/train.csv')

In [15]:
df.head(5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [20]:
columns= train.columns

# My Approach
1. 데이터 불러오기
2.  피처 엔지니어링
    - Missing Values(keyword, location)
    - 텍스트 전처리: 토크나이징, 불용어 제거, lemmination 등
    - 텍스트 임베딩(opt)
        - CountVectorizer
        - GloVe, FastText, BERT
    - Meta Features 생성
    - Target and N-grams
    - Mislabeled Samples 처리
2. 모델 선택
    - 메트릭
        - F1 Score
    - 임베딩한 트윗을 DNN에 넣어서 분류시키기
        - RidgeClassifier
        - MLP layer
6. 훈련
    - train, validation(StratifiedKFold)
7. 예측

In [ ]:
# 1. 데이터 불러오기

In [ ]:
# 1. 데이터 불러오기

---

In [ ]:
# 2-1. 피처 엔지니어링 :Missing Values(keyword, location)

In [ ]:
# 2-1. 피처 엔지니어링 :Missing Values(keyword, location)

---

In [ ]:
# 2-2. 텍스트 전처리: 토크나이징, 불용어 제거, lemmination 등

In [ ]:
# 2-2. 텍스트 전처리: 토크나이징, 불용어 제거, lemmination 등

---

In [ ]:
# 2-3. 텍스트 임베딩(opt): CountVectorizer, GloVe, FastText, BERT

In [ ]:
# 2-3. 텍스트 임베딩(opt): CountVectorizer, GloVe, FastText, BERT

---

In [ ]:
# 2-4. Meta Features 생성: Target and N-grams

In [ ]:
# 2-4. Meta Features 생성: Target and N-grams

---

In [ ]:
# 2-5. Mislabeled Samples 처리

In [ ]:
# 2-5. Mislabeled Samples 처리

---

In [ ]:
# 3. 모델 선택, 메트릭(F1 Score): 임베딩한 트윗을 DNN에 넣어서 분류시키기, RidgeClassifier, MLP layer

In [ ]:
# 3. 모델 선택, 메트릭(F1 Score): 임베딩한 트윗을 DNN에 넣어서 분류시키기, RidgeClassifier, MLP layer

---

In [ ]:
# 4. 훈련: train, validation(StratifiedKFold)

In [ ]:
# 4. 훈련: train, validation(StratifiedKFold)

---

In [ ]:
# 5. 예측

In [ ]:
# 5. 예측